/* paleta de colores */
:root {
    --priColor: #57835A;
    --segColor: #BAFC05;
    --terColor: #403434;
    --cuaColor: #45973C;
    --quiColor:#6CB806;
    --luckyRed: #AD3A13;
    --luckyWhite: #F8F8F8
}
/*==================================*/
/* Logos */
/*==================================*/
#logo {
    width: 120px;
    height: 280px;
}

#imago {
    width: 80px;
    height: 120px;
    padding: 10px 10px 10px 20px;
}

/*==================================*/
/* Globales */
/*==================================*/
body {
    background-color: var(--segColor);
    font-family: 'Nunito', 'Franklin Gothic Medium', sans-serif;
    margin: 3rem 5% 3rem 5%;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: var(--luckyRed);
    text-align: center;
}

.btn {
    font-weight: 600;
    background-color:  var(--terColor);
    color: var(--quiColor);
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease-in;
    border: none;
}

.btn:hover {
    background-color: var(--cuaColor);
    color: var(--terColor);
    border-radius: 5px;
    cursor: pointer;
}
/*==================================*/
/* Header */
/*==================================*/
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*==================================*/
/* Menu */
/*==================================*/
nav {
    margin-top: 20px;
    border-top: solid 1px var(--terColor);
    border-bottom: solid 1px var(--terColor);
}
nav ul {
    list-style: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li {
    display: inline-block;
}

.menu {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.5rem;
    color: var(--priColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu:hover {
    color: var(--quiColor);
    background-color: var(--terColor);
}

@media (max-width: 750px){
    nav li {
        display: flex;
        flex-direction: column;
    }
}

/*==================================*/
/* Main */
/* Main - Promo */
/*==================================*/
section {
    display: flex;
    padding: 2rem;
}

article {
    flex: 1;
}

.destacado {
    background-color: var(--priColor);
    color: var(--luckyWhite);
    display: flex;
}

.destacado-text {
    padding: 2rem;
}

#img-promo {
    width: 28rem;
    height: 100%;
}

@media (max-width: 800px) {
    .destacado {
        flex-flow: row wrap;
    }        
}
@media (max-width: 750px){
    section {
        padding: .5rem;
    }
    .destacado {
        flex-direction: column;
    }
    #img-promo {
        width: 100%;
        height: 100%;
    }    
}
/*==================================*/
/* Main */
/* Main - Services - Store - Blog */
/*==================================*/
.second-section {
    display: flex;
    gap: 10px;
}

.info-card {
    background-color: var(--priColor);
    color: var(--luckyWhite);
    padding: .5rem;
    height: 30rem;
    width: 24rem;
}

.info-card > p {
    padding: 1rem;
}

@media (max-width: 950px){
    .second-section {
        flex-flow: row wrap;
    }
}

@media (max-width: 640px){
    .second-section {
        flex-direction: column;
    }
    .info-card {
        width: 90%;
    }
}

.service-anime {
    background-color: var(--terColor);
}

.animation {
    margin: 10px auto;
    padding: 10px;
    height: 12rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.anilogo {
    position: relative;
    width: 70px;
    height: 100px;
    padding: 0 1rem;
}

#anired {
    animation: logorado 3s ease alternate-reverse infinite;
}

#anigreen {
    animation: logorado 3s ease alternate-reverse 3s infinite;
}

#aniwhite {
    animation: logorado 3s ease alternate-reverse 6s infinite;
}

.img-content {
    margin-top: 10px;
    width: 100%;
}

#img-store, #img-blog {
    height: 13rem;
    width: 100%;
}

article p > strong {
    color: var(--luckyRed);
}
/*==================================*/
/* Footer */
/*==================================*/
footer {
    display: flex;
    background-color: var(--terColor);
    color: var(--luckyWhite);
    margin: 0px -6% -50px -6%;
    padding-top: 2rem;
}

footer nav {
    flex: 1;
}

.foot-info {
    width: 100%;
    margin: 3rem auto;
}

.ubicacion {
    text-align: center;
    padding: 10px auto;
}

.social {
    text-align: end;
    padding-top: 4rem;
    padding-right: 5rem;
}

.social-group {
    display: flex;
}

.socialicons {
    width: 30px;
    height: 30px;
    padding: 2px;
}

.copyright {
    text-align: center;
    margin: auto; 
}

@media (max-width: 750px){
    footer {
        margin-top: 1rem;
        flex-direction: column;
    }
    .logo-foot {
        margin: .5rem auto;
    }
    .foot-info {
        margin: 1rem auto;
    }
    .social {
        padding: 1rem 1rem 1rem 0;
    }    
    .social-group {
        justify-content: end;
    }
}