/* paleta de colores */
:root {
    --priColor: #57835A;
    --segColor: #BAFC05;
    --terColor: #403434;
    --cuaColor: #45973C;
    --quiColor:#6CB806;
    --luckyRed: #AD3A13;
    --luckyWhite: #F8F8F8
}

/* Logos */
#logo {
    width: 180px;
    height: 340px;
}

#imago {
    width: 80px;
    height: 120px;
    padding: 10px 10px 10px 20px;
}

/* Globales */
body {
    background-color: var(--segColor);
    font-family: 'Nunito', 'Franklin Gothic Medium', sans-serif;
    margin: 3rem 5% 3rem 5%;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Header */
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Menu */
nav {
    margin-top: 20px;
    border-top: solid 1px var(--terColor);
    border-bottom: solid 1px var(--terColor);
}
nav ul {
    list-style: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li {
    display: inline-block;
}

.menu {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.5rem;
    color: var(--priColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu:hover {
    color: var(--quiColor);
    background-color: var(--terColor);
}

@media (max-width: 750px){
    nav li {
        display: flex;
        flex-direction: column;
    }
}

/* Main */
/* Main - Nosotros */
.nosotros {
    display: flex;
}

.nosotros-descripcion {
    padding: 5px;
}

h2.title ~ p {
    padding-top: 10px;
    padding-left: 10px;
}

div video {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    height: 100%;
}

.title {
    padding-top: 10px;
    color: var(--luckyRed);
}

.back {
    color: var(--priColor);
    text-align: right;
    margin-right: 10px;
}

@media (max-width: 750px){
    .nosotros {
        flex-direction: column-reverse;
    }
    .title {
        text-align: center;
    }
}

/* Main - Servicios */
.servicios {
    background-color: var(--cuaColor);
    height: 380px;
    margin-top: 50px;
    margin-left: -6%;
    margin-right: -6%;
    display: flex;
}

.service-desc {
    width: 50%;
    height: 100%;
}

.servicios::before,
.servicios::after {
    background-color: var(--terColor);
    content: '';
    height: 5rem;
    width: 110%;
    position: absolute;
}
.servicios::before {
    top: -3rem;
    left: 0;
    transform: rotate(2deg);
}

@media (min-width: 750px) {
    .servicios::after {
        bottom: -9rem;
        left: -5;
        transform: rotate(2deg);
    }        
}

.service-anime {
    background-color: var(--terColor);
}

.animation {
    margin: 10px auto;
    padding: 10px;
    height: 80%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.anilogo {
    position: relative;
    width: 70px;
    height: 100px;
}

#anired {
    animation: logorado 3s ease alternate-reverse infinite;
}

#anigreen {
    animation: logorado 3s ease alternate-reverse 3s infinite;
}

#aniwhite {
    animation: logorado 3s ease alternate-reverse 6s infinite;
}

/* Main - Servicios */
.store {
    background-color: var(--quiColor);
    height: 380px;
    margin-top: 50px;
    margin-left: -6%;
    margin-right: -6%;
    display: flex;
}


/* Main - Contact */
.contact {
    background-color: var(--luckyWhite);
    height: 380px;
    margin-top: 50px;
    margin-left: -6%;
    margin-right: -6%;
}

/* Footer */
footer {
    display: flex;
    background-color: var(--terColor);
    color: var(--luckyWhite);
    margin: 20px -6% -50px -6%;
}

footer nav {
    flex: 1;
}

.foot-info {
    display: grid;
    padding: auto;
    width: 100%;
}

.social {
    padding-left: 200px;
}

.social-group {
    display: flex;
}
.socialicons {
    width: 30px;
    height: 30px;
    padding: 2px;
}


.copyright {
    margin: auto; 
}