/* paleta de colores */
:root {
    --priColor: #57835A;
    --segColor: #BAFC05;
    --terColor: #403434;
    --cuaColor: #45973C;
    --quiColor:#6CB806;
    --luckyRed: #AD3A13;
    --luckyWhite: #F8F8F8
}

/* Logos */
#logo {
    width: 180px;
    height: 340px;
}

#imago {
    width: 90px;
    height: 120px;
    padding: 10px 10px 10px 20px;
}

/* Globales */
body {
    background-color: var(--segColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem 5% 3rem 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Header */
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Menu */
nav {
    margin-top: 20px;
    border-top: solid 1px var(--terColor);
    border-bottom: solid 1px var(--terColor);
}
nav ul {
    list-style: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li {
    display: inline-block;
}

.menu {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.5rem;
    color: var(--priColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu:hover {
    color: var(--quiColor);
    background-color: var(--terColor);
}

@media (max-width: 750px){
    nav li {
        display: flex;
        flex-direction: column;
    }
}

/* Main */
.container {
    display: flex;
}

h2.title ~ p {
    padding-top: 10px;
    padding-left: 10px;
}

div video {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    height: 100%;
}

.title {
    padding-top: 10px;
    color: var(--luckyRed);
}

@media (max-width: 750px){
    .container {
        flex-direction: column-reverse;
    }
    .title {
        text-align: center;
    }
}

/* Footer */
footer {
    display: flex;
    background-color: var(--terColor);
    color: var(--luckyWhite);
    margin: 20px -6% -50px -6%;
}

footer nav {
    flex: 1;
}

.copyright {
    margin: auto; 
}